.App {
    text-align: center;
    font-size: 35px;
    margin-top: 110px;
}

.App-title {
    font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline;
    margin: 10px;
}

.Deadline-input {
    font-size:25px;
    margin: 5px;
}
body {
    background-color: #ffb6c1 ;
}

.Stopwatch-input {
    font-size:25px;
    margin: 5px;
}

.Second-App-Title {
    font-size: 50px ;
    margin-top: 80px;
}
